

<main class="main row">
    <aside class="col-md-2">
        <div>
            <a class="btn btn-outline-info" href="/fee-types">Fee Types</a>
        </div>
        <div>
            <a class="btn btn-outline-info" href="/fees">Fees</a>
        </div>
        <div>
            <a class="btn btn-outline-info" href="/monthlypayment">Monthly Payment</a>
        </div>

        <div>
            <a class="btn btn-outline-info" href="/otherpayment">Otherpayment Payment</a>
        </div>

        <div>
            <a class="btn btn-outline-info" href="/marksList">Mark</a>
        </div>
        <div>
            <a class="btn btn-outline-info" href="/maymentdetails">Student Payment Details</a>
        </div>

        <div>
            <a class="btn btn-outline-info" href="/departments">Departments</a>
        </div>
        <div>
            <a class="btn btn-outline-info" href="/standards">Standard</a>
        </div>






    </aside>
  <article class="col-md-10">
    <!--   <nav>

      </nav>
      <hr /> -->


    <router-outlet></router-outlet>
  </article>
</main>








